.flashes h4 {
    line-height: 2;
}

.brand-logo {
    font-family: 'Rock Salt', cursive;
    margin-bottom: 15px;
}

#top-logo {
    margin-left: 25px;
}

body {
    background: url('/img/home_background.jpg')no-repeat center center fixed;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
}

.recipe_row {
    display: flex;
    float: left;
    width: 50%;
}

.btn-small {
    margin: 5px;
}

@media only screen and (max-width: 991px){
    #top-logo {
        margin-left: auto;
    }

    .recipe_row {
        width: 100%;
    }
}
