{% extends "base.html" %}
{% block content %}

    <h3 class="text-shadow brown #efebe9 lighten-5"> Add Recipe </h3>

    <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="recipe_name" type="text" class="validate">
              <label for="recipe_name">RECIPE NAME</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
                <p>Ingredients:</p>
                <div class="chips chips-autocomplete" id="recipe_ingredients">    
                </div>
                <p>(Press Enter after each ingredient)</p>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <select multiple>
                <option value="" disabled selected>Select the allergens</option>
                <option value="1">Gluten</option>
                <option value="2">Lactose</option>
                <option value="3">Vegetarian</option>
                <option value="3">Vegan</option>
            </select>
            <label>Allergens</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea"></textarea>
              <label for="textarea1">Add a short description</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea2" class="materialize-textarea"></textarea>
              <label for="textarea2">Describe the steps to prepare your recipe</label>
            </div>
          </div>
        </form>
    </div> 

    <form action="#">
        <div class="file-field input-field">
          <div class="btn">
            <span>File</span>
            <input type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload a picture of your dish!">
          </div>
        </div>
    </form>

{% endblock %}