{% extends "base.html" %}
{% block content %}

    <h3 class="text-shadow brand-logo center-align"> Edit Recipe </h3>
    <br>

    <div class="row card-panel grey lighten-5">
      <form class="col s12" method="POST" enctype="multipart/form-data" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
        <div class="row">
          <div class="input-field col s12">
            <p>Recipe name:</p>
            <input id="recipe_name" type="text" name="recipe_name" value="{{ recipe.recipe_name }}" class="validate" required>
          </div>
        </div>
        <!-- Add Ingredients and send new additions to the database -->
        <div class="row">
          <div class="input-field col s12">
            <p>Ingredients:</p>
            {% for ingredient in ingredients %}
            <input id="recipe_ingredients" type="text" name="recipe_ingredients" value="{{ recipe.recipe_ingredients }}" class="validate" required>
            {% endfor %}
          </div>
        </div>
        <!-- Allergens -->
        <div class="row">
          <div class="input-field col s12">
            <p>Click to select the allergens:</p>
            <select multiple id="recipe_allergen" name="recipe_allergen" class="validate" required>
              {% for allergen in allergens %}
                {% if allergen.recipe_allergen == recipe.recipe_allergen %}
                  <option value="{{ allergen.recipe_allergen }}" selected>{{ allergen.recipe_allergen }}</option>
                {% else %}
                  <option value="{{ allergen.recipe_allergen }}" disabled>{{ allergen.recipe_allergen }} </option>
                {% endif %}
              {% endfor %}
              <option value="No Allergens">No Allergens</option>
              <option value="Gluten">Gluten</option>
              <option value="Lactose">Lactose</option>
              <option value="Tree Nuts">Tree Nuts</option>
              <option value="Vegetarian">Vegetarian</option>
              <option value="Vegan">Vegan</option>
            </select>
          </div>
        </div>
        <!-- Short description of the recipe -->
        <div class="row">
          <div class="input-field col s12">
            <p>Add a short description:</p>
            <textarea id="recipe_description" name="recipe_description" class="materialize-textarea" maxlength="100" required>{{ recipe.recipe_description }}</textarea>
          </div>
        </div>
        <!-- Steps of the recipe -->
        <div class="row">
          <div class="input-field col s12">
            <p>Describe the steps to prepare your recipe:</p>
            <textarea id="recipe_steps" name="recipe_steps" class="materialize-textarea" required>{{ recipe.recipe_steps }}</textarea>
          </div>
        </div>
        <!-- Category of the dish -->
        <div class="row">
          <div class="input-field col s12">
            <select multiple id="recipe_category" name="recipe_category" class="validate" required>
              <option value="Category" disabled selected>Click to select the category</option>
              {% for category in categories %}
                {% if category.recipe_category == recipe.recipe_category %}
                  <option value="{{ category.recipe_category }}" label="{{ category.recipe_category }}" selected>{{ category.recipe_category }}</option>
                {% else %}
                  <option value="{{ category.recipe_category }}" label="{{ category.recipe_category }}" disabled>{{ category.recipe_category }} </option>
                {% endif %}
              {% endfor %}
              <option value="Appetizer" label="Appetizer">Appetizer</option>
              <option value="First Course" label="First Course">First Course</option>
              <option value="Second Course" label="Second Course">Second Course</option>
              <option value="Dessert" label="Dessert">Dessert</option>
            </select>
          </div>
        </div>
        <br>
        <div class="file-field input-field">
          <p>Upload an image by URL</p>
          <input placeholder="Paste the image URL" type="url" name="recipe_img" id="recipe_img" onchange="addImage();" pattern="https://.*" class="validate">
        </div>
        <br>

        <!-- Submit button -->
        <div class="row">
          <div class="col s12 center-align">
            <!-- Cancel button -->
            <a href="{{ url_for('recipes') }}" class="btn-large brown lighten-1 text-shadow">
              Cancel <i class="fas fa-times-circle right"></i>
            </a>
            <button class="btn waves-effect waves-light btn-large center-align #a1887f orange darken-4" type="submit">Edit Recipe
              <i class="material-icons right">restaurant_menu</i>
            </button>
          </div>
        </div> 
      </form>
    </div>

{% endblock %}