{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="col-7 col-md-6 my-auto">
        <div class="container-fluid h-100 w-100">
            <div class="row">
                <div class="carousel carousel-slider">
                    <a class="carousel-item" href="https://thumbs.dreamstime.com/z/espresso-coffee-cup-beans-vintage-table-90374872.jpg"><img src="https://thumbs.dreamstime.com/z/espresso-coffee-cup-beans-vintage-table-90374872.jpg"></a>
                    <a class="carousel-item" href="https://thumbs.dreamstime.com/z/parmigiana-eggplant-dish-14440960.jpg"><img src="https://thumbs.dreamstime.com/z/parmigiana-eggplant-dish-14440960.jpg"></a>
                    <a class="carousel-item" href="https://thumbs.dreamstime.com/z/fish-steak-baked-lemon-herbs-foil-rosemary-oil-home-healthy-home-made-meal-food-91342310.jpg"><img src="https://thumbs.dreamstime.com/z/fish-steak-baked-lemon-herbs-foil-rosemary-oil-home-healthy-home-made-meal-food-91342310.jpg"></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="collection grey lighten-5">
                <form action="{{ url_for('search') }}" method="POST" class="col s12">
                    <div class="row valign-wrapper center-align">
                        <div class="input-field col s12m8">
                            <i class="fas fa-search prefix brown-text text-darken-4"></i>
                            <input type="text" name="query" id="query" class="validate" required>
                            <label for="query">Search</label>
                        </div>
                        <div class="col s12 m4">
                            <a href="{{ url_for('recipes') }}" class="orange darken-4 btn text-shadow"> Reset </a>
                            <button type="submit" class="orange darken-4 btn text-shadow ">
                                <i class="fas fa-search left"></i> Search 
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}