{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align brown-text text-darken-4">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>
    </div>
    <!-- Page Layout here -->
    <div class="row">
        <h3>Notifications</h2>
        <div class="col s6">
          <!-- Small navigation panel -->
        </div>

        <div class="col s6">
            <h3>Dashboard</h2>
          <!-- Bigger page content  -->
        </div>
    </div>


{% endblock %}