{% extends "base.html" %}
{% block content %}
        <div class="row">
            <h3 class="center-align brand-logo">Cookbook</h3>
            <!-- <div class="container">
                <form>
                    <div class="input-field">
                        <input id="search" type="search" placeholder="Search in the Cookbook">
                        <label class="label-icon" for="search"></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div> -->
            <h6 class="center-align"><br><em>(Click on the picture to read more!)</em></h6>
        </div>

        {% for recipe in recipes %}   
        <div class="row recipe_row">
            <div class="col">
                <div class="card large">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{ recipe.recipe_img }}">
                    </div>
                    <div class="card-content">
                        <p>
                            <span class="card-title">
                                <strong>{{ recipe.recipe_name }} </strong>
                            </span> 
                            <hr>
                            <em>by: {{ recipe.created_by }}</em> 
                            <br>
                            <strong>{{ recipe.recipe_description }}</strong> 
                        </p>
                    </div>
                    <div class="col s12">
                        <i class="fas fa-caret-down"></i>
                        <a href="" class="btn-small orange lighten-4 accent-4">Done</a>
                        <a href="" class="btn-small #a1887f brown lighten-1 accent-4">Edit</a>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">
                            <strong>{{ recipe.recipe_name }}</strong><i class="material-icons right">close</i> 
                        </span>
                        <p>
                            <strong>Category:</strong>
                            <br> 
                            {{ recipe.recipe_category }}
                            <br>
                            <strong> Ingredients:</strong>
                            <br> 
                            {{ recipe.recipe_ingredients}}
                            <br>
                            <strong> Allergens:</strong>
                            <br> 
                            {{ recipe.recipe_allergen }}
                            <br>
                            <strong>Preparation:</strong>
                            <br>
                            {{ recipe.recipe_steps }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        {% endfor %}

    
{% endblock %}