{% extends "base.html" %}
{% block content %}

        {% for recipe in recipes %}   
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-image">
                        <img class="activator"src="{{ recipe.recipe_img }}">
                    </div>
                    <div class="card-content activator">
                        <p>
                            <strong>{{ recipe.recipe_name }} </strong> <hr>
                            <em>by: {{ recipe.created_by }}</em> <br>
                            <strong>{{ recipe.recipe_description }}</strong> <hr>
                            <span> <strong>Category:</strong> {{ recipe.recipe_category }}</span> <br>
                            <span> <strong> Ingredients:</strong> {{ recipe.recipe_ingredients}}</span> 
                            <p> <strong> Allergens:</strong> {{ recipe.recipe_allergen }}</p>
                            <p>{{ recipe.recipe_steps }}</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        {% endfor %}

    
{% endblock %}